<!--
title: How to enable Tap-to-click
description: Learn how to enable Tap-to-click in garuda i3 or any other desktop
published: true
date: 2022-05-10T13:43:10.599Z
tags: system, configuration, touchpad
editor: ckeditor
dateCreated: 2020-11-10T06:59:37.961Z
-->

<h4><span class="text-huge"><strong>Enabling Tap-to-click</strong></span></h4>
<p>Garuda i3 has disabled tap-to-click by default. Follow these steps to enable tap-to-click in Garuda i3 or any other desktop environment or window manager.</p>
<p><strong>Follow these steps carefully, they require root privileges! </strong>⚠️</p>
<ul>
  <li><code>sudo pacman -S --needed xf86-input-libinput</code></li>
  <li><code>sudo micro /etc/X11/xorg.conf.d/30-touchpad.conf</code></li>
  <li><strong>Copy the text </strong>of the&nbsp;<strong> </strong><a href="/30-touchpad.conf">linked file</a> into the terminal</li>
  <li>Paste this text into 30-touchpad.conf (file opened in step 1)</li>
  <li>Save the file (Ctrl + s)</li>
  <li>Quit the editor (Ctrl + q)</li>
  <li>Reboot</li>
</ul>
<p>&nbsp;</p>
<p>Tap to click should now be enabled!</p>
<p>💡 Visit <a href=" https://wiki.archlinux.org/index.php/Libinput ">this Arch wiki article</a> for more information about the configuration of touchpads.</p>
<p>&nbsp;</p>
